* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: row; 
    gap: 15px;
    flex-wrap: wrap;
}


nav a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

nav a:hover {
    color: red;
}

nav a.active {
    color: tomato;
}

main {
    /*padding: 20px;*/
	flex: 1;
	max-width: 1200px;
    margin: auto;
}

section {
    /*margin-bottom: 30px;*/
}

section h2 {
    /*margin-bottom: 10px;*/
    margin-top: 10px;
    margin-left: 10px;
}

img {
    width: 50%;
    height: auto;
    /*margin: 15px 0;*/
}

table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 15px;*/
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    /*text-align: center;*/
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: red;
}

.text-block {
	margin: auto;
    max-width: 800px;
}

@media (max-width: 800px) {
    img {
        width: 500px;
    }

    nav {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    h1, h2 {
        text-align: center;
    }

    img {
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav a {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    table th, table td {
        font-size: 14px;
        padding: 6px;
    }
}
